@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--dark: black;
	--light: white;
	--primary: #94dfff;
	--secondary: #fbd16d;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--dark);
	color: var(--light);
	overflow-x: hidden;
	margin: 0;
}
