@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--dark: black;
	/* --dark: #09283e; */
	--light: white;
	--primary: #69ebff;
	--secondary: #fff96e;
	/* --primary: #94dfff;
	--secondary: #fbd16d; */
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--dark);
	color: var(--light);
	overflow-x: hidden;
	margin: 0;
}
